body{
    background-color: #db69fd;
}
.box{
    color: rgb(14, 13, 14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(250, 148, 228);
     padding: 15px;
     border-radius: 15px;

}
button{
    border-radius: 10px;
}